*{
	margin: 0px;
	padding: 0px;
}

html, body {
	background-color: #f9f9f9;
}

.mainbox{
	height: 950px;
	width: 1060px;
	margin: auto;
	background: white;
	box-shadow:
	-5px 0 5px -5px rgba(0, 0, 0, .3),
	5px 0 5px -5px rgba(0, 0, 0, .3),
	;
}

/*HEADER*/

.logo{
	padding: 50px 45px 0 45px;
}

.menu{
	height: 40px;
	margin: 40px 45px 0 45px;
	background: linear-gradient(0deg, #444343, #5e5e5e);
	font-size: 0;
	line-height: 0;
}

.link{
	display: inline-block;
	line-height: normal;
}

.link a{
	display: block;
	height: 20px;
	margin-right: 62px;
	padding: 10px 23px 10px 23px;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 2px black;
	text-decoration: none;
}

.link a:hover{
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	padding: 10px 22px 10px 22px;
	background: linear-gradient(0deg, #2e2e2e, #4a4a4a);
}